<!--
File: index.ejs
Name: Kateryna Khomenko
ID: 301091332
Date: 2-Jun-2021
-->


<%- include components/header.ejs %>

<%- include components/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
  <%-include('./content/'+page+'.ejs')%>
    
  </main>
  
<%- include components/bottom_nav.ejs %>  

<%- include components/footer.ejs %>
  




