<!--
File: list.ejs
Name: Kateryna Khomenko
ID: 301091332
Date: 17-Jun-2021
-->


<%- include ../components/header.ejs %>

    <%- include ../components/main_nav.ejs %>


        <!-- Main Content -->
        <main class="container">
            <div class="custom_div">
             <div class="jumbotron">
                            <h1>
                            <%=title %>
                            </h1>
                        </div>
                <div class="row">
                
                    <div class="offset-md-1 col-md-10">
                       
                        
                        <% if(typeof displayName =='string' && displayName){%>
                        <a href="/contact-list/add" class="btn btn-primary" role="button">
                            <i class="fas fa-plus-circle"></i>Add a contact
                        </a>
                        <% }%>
                        <br>
                        <table class="table table-bordered table-stripe table-hover">
                            <!--Header Row-->
                            <tr>
                                <th class="text-center col-3" >Name</th>
                                <th class="text-center col-2" >Number</th>
                                <th class="text-center col-3" >Email</th>
                                <% if(typeof displayName =='string' && displayName){%>
                                <th class="text-center col-1" ></th>
                                <th class="text-center col-1"></th>
                                <% }%>
                            </tr>


                            <!--Repeatable Template Row -->

                            <% for(let count=0; count<ContactList.length; count++){ %>
                                <tr>
                                    <td class="text-center col-3">
                                        <%= ContactList[count].name%>
                                    </td>
                                    <td class="text-center col-2">
                                        <%= ContactList[count].number%>
                                    </td>
                                    <td class="text-center col-3">
                                        <%= ContactList[count].email%>
                                    </td>
                                    <% if(typeof displayName =='string' && displayName){%>
                                    <td class="text-center col-1">
                                    <a href="/contact-list/update/<%=ContactList[count]._id %>" class="btn btn-primary" btn-sm>
                                    <i class="fas fa-pencil-alt"></i>Update</a>
                                    </td>
                                    <td class="text-center col-1">
                                    <a href="/contact-list/delete/<%=ContactList[count]._id %>"class="btn btn-danger" btn-sm>
                                    <i class="fas fa-trash-alt"></i>Delete</a>
                                    </td>
                                    <% }%>
                                </tr>
                                <%   }%>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <%- include ../components/bottom_nav.ejs %>

            <%- include ../components/footer.ejs %>